<% flash.each do |flash_type, message| %>
  <% if flash_type == "notice" %>
    <div class="text-center alert alert-success">
      <%= message %>
    </div>
  <% else %>
    <div class="text-center alert alert-danger">
      <%= message %>
    </div>
  <% end %>
<% end %>
