<div class="container">
  <div class="m-5">
    <div class="row">
      <div class="d-flex align-items-center justify-content-center">
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "All questions", questions_path, class: "btn btn-primary" %></li>
          <li class="list-group-item"><%= link_to "Test me", play_questions_path, class: "btn btn-primary" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
