<div class="container">
  <div class="text-center">
    <h4>Вопросы по электро безопасности для сдачи в РОСТЕХНАДЗОР</h4>
    <%= image_tag("tests24.jpg") %>
  </div>
  <div class="m-5">
    <div class="row">
      <div class="row text-center">
        <div class="m-1"><%= link_to "Учить вопросы", questions_path, class: "btn btn-warning" %></div>
        <div class="m-1"><%= link_to "Проверить", play_questions_path, class: "btn btn-warning" %></div>
      </div>
    </div>
  </div>
</div>
